pyTelegramBotAPI
requests
cloudscraper
beautifulsoup4
Telebot
Flask
telebot
Faker
requests_toolbelt
pyTelegramBotAPI
requests
cloudscraper
beautifulsoup4
Telebot
Flask
faker
pycountry
user_agent
fake_useragent
